.analysis-widget {
  background-color: var(--color-box-background);
  border-radius: var(--border-radius-default);
  padding: 2.5rem;
  box-shadow: var(--box-shadow-default);
}

.analysis-widget__header {
  text-align: left;
}

.analysis-widget__chart {
  margin: 2rem auto 0;
  width: 100%;
  height: 100%;
}
